.THIS {
    background: white;
    padding: 10px;
}
.THIS.wrapper {
    margin: 0;
    width: 100%;
}
.THIS .message {
    word-wrap: break-word;
}
.THIS .send-button {
    float: right;
}
.THIS .clear {
    clear: both;
}
.THIS .inline-input {
    padding: 3px;
    min-height: 0;
    line-height: normal !important;
}
.THIS .mySpinner {
  position: relative;
  width: 200px;
  height: 100px;
}
.THIS .disabledBoolean:disabled {
    background-color: #bebebe !important;
}